<style>
		body{
			background-color:#EDF5E1; 
		}
		marquee 
		{
		font-size: 25px;
        color: white;
		background:#ff4d4d ;
	    }
		h1{
			color: white;
            background-color: #5CDB95;
		}
		h3{
			color: #FC4445;
		}
	</style>